<main class="main main-home container text-center">
    <img src="https://via.placeholder.com/450x500" alt="placeholder image" class="img-fluid home-img">
    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit facilis, ab quae earum non eveniet enim nostrum eius qui facere, nemo mollitia autem similique!</p>
    <h3>Lorem ipsum dolor sit amet consectetur.</h3>
</main>